{% extends './base.html' %}

{% block title %}General Map{% endblock %}

{% block customCSS%}

<link rel="stylesheet" href="{{url_for('static',filename='css/generalMap.css')}}">
{% endblock %}

{% block body %}

<nav class="navbar">
    <form class="form-inline my-2 my-lg-0" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <button class="btn btn-light btnSimular" type="submit">SIMULAR</button>
      </form>
    
  
      <div class="topnav">
        
        <a href="#news">Cambiar de vista</a>
        <a href="#contact">Planes de acción</a>
        <a href="#about">Ayuda</a>
      </div>
     
      
    
</nav>

<div id="map" style="width: 1000px;">

</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249744.0322790404!2d-77.12786352740571!3d-12.02626759265554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5f619ee3ec7%3A0x14206cb9cc452e4a!2sLima!5e0!3m2!1ses-419!2spe!4v1651114142861!5m2!1ses-419!2spe" width="1920px" height="1000px " style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade">xd</iframe>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBztMi1hDY6GLIW9waOsAWvHfTtdpnyUtk&callback=initMap">
    defer

    let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 8,
  });
}

window.initMap = initMap;
</script>
    


{% endblock %}