{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS%}

<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block body %}

<main class="form-signin" >
    <form  method="POST">
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <br>
      {% for message in messages %}
      
      {% endfor %}
      {% endif %}

      {% endwith %}
      <h1 class="h3 mb-3 fw-normal titulo"><strong>ELEGIR MAPA DE CONSULTA</strong></h1>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  
      
      <div class="form-check formsito">
          <div class="formsito2">
            <input class="form-check-input" type="radio" name="Zona" id="flexRadioDefault1" value="GeneralMap">
            <label class="form-check-label" for="Zona">
              General
            </label>

          </div>
          <div class="formsito2b">
            <input class="form-check-input" type="radio" name="Zona" id="flexRadioDefault2" value="SpecificMap">
            <label class="form-check-label" for="Zona">
              Zona
            </label>
              
          </div>
         
        </div>
        
        <div class="formsito3">
          
            <label  class="labelZonaElegida"> Zona Elegida:</label>
            <select class="form-select seleccionable" name="distrito" for="distrito" aria-label="Default select example">
                <option selected>(seleccionar)</option>
                <option value="ancon">Ancón</option>
                <option value="ate_vitarte">Ate Vitarte</option>
                <option value="barranco">Barranco</option>
                <option value="breña">Breña</option>
                <option value="carabayllo">Carabayllo</option>
                <option value="chaclacayo">Chaclacayo</option>
                <option value="chorrillos">Chorrillos</option>
                <option value="cieneguilla">Cieneguilla</option>
                <option value="comas">Comas</option>
                <option value="el_agustino">El Agustino</option>
                <option value="independencia">Independencia</option>
                <option value="jesus_maria">Jesús María</option>
                <option value="la_molina">La Molina</option>
                <option value="la_victoria">La Victoria</option>
                <option value="lima">Lima</option>
                <option value="lince">Lince</option>
                <option value="los_olivos">Los Olivos</option>
                <option value="lurigancho">Lurigancho</option>
                <option value="lurin">Lurín</option>
                <option value="magdalena_del_mar">Magdalena del Mar</option>
                <option value="miraflores">Miraflores</option>
                <option value="pachacamac">Pachacamac</option>
                <option value="pucusana">Pucusana</option>
                <option value="pueblo_libre">Pueblo Libre</option>
                <option value="puente_piedra">Puente Piedra</option>
                <option value="punta_hermosa">Punta Hermosa</option>
                <option value="punta_negra">Punta Negra</option>
                <option value="rimac">Rímac</option>
                <option value="san_bartolo">San Bartolo</option>
                <option value="san_borja">San Borja</option>
                <option value="san_isidro">San Isidro</option>
                <option value="san_juan_de_lurigancho">San Juan de Lurigancho</option>
                <option value="san_juan_de_miraflores">San Juan de Miraflores</option>
                <option value="san_luis">San Luis</option>
                <option value="san_martin_de_porres">San Martín de Porres</option>
                <option value="san_miguel">San Miguel</option>
                <option value="santa_anita">Santa Anita</option>
                <option value="santa_maria_del_mar">Santa María del Mar</option>
                <option value="santa_rosa">Santa Rosa</option>
                <option value="santiago_de_surco">Santiago de Surco</option>
                <option value="surquillo">Surquillo</option>
                <option value="villa_el_salvador">Villa El Salvador</option>
                <option value="villa_maria_del_triunfo">Villa María del Triunfo</option>
            </select>
        

        </div>
        
  
      
      <button class="w-100 btn btn-lg btn-secondary boton" type="submit">Ingresar</button>
      
    </form>
</main>

    


{% endblock %}