{% extends './base.html' %}

{% block title %}Summary{% endblock %}

{% block customCSS%}

<link rel="stylesheet" href="{{url_for('static',filename='css/summary.css')}}">
{% endblock %}

{% block body %}

<nav class="navbar">
  <form class="form-inline my-2 my-lg-0" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
      
    </form>
  

    <div class="topnav">
      
      <a href="#news">Cambiar de vista</a>
      <a href="#contact">Planes de acción</a>
      <a href="#about">Ayuda</a>
    </div>
   
    
  
</nav>


<form  method="POST" class="formsito2">
    <div class="container">
      
        <h1><img class="mb-4" src="{{url_for('static',filename='img/disco.png')}}" alt="" width="50" height="50" ><strong>$valor Resumen del plan</strong></h1>
    <p>	El presente documento corresponde al plan de acción en caso de un sismo de $valor grados en el distrito
        de $valor. Se explicará la cantidad de afectados por grupo de edad, el personal de apoyo requerido para socorrer
        a las personas y la cantidad de edificaciones afectadas durante el movimiento telúrico. Finalmente,el presupuesto
        para llevar a cabo el plan de manera efectiva.
    </p>

    </div>
    
    <br>
    <br>

    <div class="container">
        <h2>Detalle de la cantidad de afectados:</h2>
      <table class="tabla" >
          <tr>Niños  $valor</tr>
          <br>
          <tr>Adolescentes $valor</tr>
          <br>
          <tr>Adultos $valor</tr>
          <br>
          <tr>Ancianos $valor</tr>
      </table>

    </div>
    

      <br>
      <br>

      <div class="container">
        <h2>Detalle de la cantidad de personal de apoyo:</h2>
        <table class="tabla">
            <tr>Bomberos $valor</tr>
        </table>

      </div>
      
         
</form>

  

    


{% endblock %}